.App{
    background: url(./resources/th.jpg) no-repeat 50%;
    background-size: cover;
    height: 100vh;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.AppMobile{
  background: url(./resources/th.jpg) no-repeat 50%;
  background-size: cover;
  height: 120vh;
  width: 70vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.title{
    text-align: center;
}